//
//  nasgrad-prod.xcconfig
//  NasGradApp
//
//  Created by Dorian Cizmar on 12/7/18.
//  Copyright © 2018 NasGrad. All rights reserved.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

NG_APP_NAME = NasGradApp
NG_APP_VERSION = 1.0.0
NG_APP_BUNDLE_ID = com.nasgrad.NasGradApp
NG_API_URL = http:\/\/68.183.223.223:8080/api
NG_ENV = RELEASE

